@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #D8F3DC; */
}

body {
    font-family: 'Roboto', sans-serif;
    color: #1B4332;
    background: url("../images/windmills-on-grass-field.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* headings */

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #1B4332;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    color: #1B4332;
    text-align: center;
}

/* header and logo */

header {
    display: grid;
}

.logo {
    height: 100px;
    justify-self: center;
}

/* Game Layout */

/* Game start page */

body {
    display: grid;
    height: 100vh;
}

.game-container {
    display: grid;
    justify-content: center;
    align-self: center;
    padding: 2rem;
}

.game-area {
    display: grid;
    justify-content: center;
    align-self: center;

    /* box shadow */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.04);
    padding-top: 1rem;
}

div > a {
    display: grid;
    justify-content: center;
}

/* buttons */

.btn {
    text-decoration: none;
    color: #2D6A4F;
    font-weight: 600;
    border: 0.2rem solid #2D6A4F;
    padding: 0.6rem;
    border-radius: 2rem;
    background-color: white;
    width: 12rem;
    margin: auto auto 1rem;
}

.btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* Game play page */

.answer-choice {
    display: flex;
    margin-bottom: 0.8rem;
    /* width: 100%; */
    font-size: 1.3rem;
    /* border: 0.1rem solid #2D6A4F; */
    /* font-weight: 600; */
    background-color: #ffffff;
}

.answer-choice:hover {
    box-shadow: 0 0.4rem 1.4rem 0;
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 0.8rem 1.2rem;
    background-color: #2D6A4F;
    color: #ffffff;
}

.choice-text {
    padding: 1rem;
}