@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8F3DC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

/* headings */

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Game Layout */

body {
    display: grid;
    height: 100vh;
}

.game-area {
    display: grid;
    justify-content: center;
    align-self: center;
}

div > a {
    display: grid;
    justify-content: center;
}