@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D8F3DC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

/* headings */

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* Game Layout */

body {
    display: grid;
    height: 100vh;
}

.game-area {
    display: grid;
    justify-content: center;
    align-self: center;
}

div > a {
    display: grid;
    justify-content: center;
}

/* buttons */

.btn {
    text-decoration: none;
    color: #2D6A4F;
    font-weight: 600;
    border: 0.2rem solid #2D6A4F;
    padding: 0.6rem;
    border-radius: 2rem;
    background-color: white;
    width: 12rem;
    margin: auto auto 1rem;
}

.btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0;
}

/* .btn {
    text-decoration: none;
    border: 0.2rem solid #2D6A4F;
    background-color: white;
    color: #2D6A4F;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    width: 12rem;
} */